.cim {color: #8f8fc3b0;
    float: none; /* padding: 100px; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;}

.szoveg {
    text-align: justify;
    margin-left: 200px;
    color: #cdcde0b0; 
    display: inline-block;
    margin-right: 5px; /* Adjust as needed for word spacing */
}

.szoveg .custom1 {
    /* Your styles for the modified text go here */
    color: #ff0000; /* Example: red text color */
    font-size: 18px; /* Example: larger font size */
    /* Add any other styles as needed */
}

.szoveg .custom2 {
    /* Your styles for the modified text go here */
    color: #9aa5bb; /* Example: red text color */
    font-size: 18px; /* Example: larger font size */
    /* Add any other styles as needed */
}

.szoveg .custom3 {
    /* Your styles for the modified text go here */
    color: #be769b; /* Example: red text color */
    font-size: 18px; /* Example: larger font size */
    /* Add any other styles as needed */
}   
    
    
